<div class="nav-bar">
    <a href="/" class="nav-item">
        <i class="ph ph-house"></i> Home
    </a>
    <a href="/cashier" class="nav-item">
        <i class="ph ph-calculator"></i> Kasir
    </a>
    <a href="/real-stock" class="nav-item">
        <i class="ph ph-lightning" style="color:#FFCC00; font-weight:bold;"></i> Restock
    </a>
    <a href="/orders" class="nav-item">
        <i class="ph ph-receipt"></i> Order
    </a>
    <a href="/inventory" class="nav-item">
        <i class="ph ph-package"></i> Gudang
    </a>
</div>

<script>
    // Auto Active State
    const path = window.location.pathname;
    document.querySelectorAll('.nav-item').forEach(el => {
        if(el.getAttribute('href') === path) {
            el.classList.add('active');
            let icon = el.querySelector('i');
            let cls = icon.getAttribute('class');
            icon.setAttribute('class', cls + '-fill'); // Ubah icon jadi solid
        }
    });
</script>